<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.guardianproject.locationprivacy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
        </activity>
        <activity android:name=".OsmAndActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="maps.apple.com" />
                <data android:host="maps.google.com" />
                <data android:host="maps.yandex.ru" />
                <data android:host="maps.yandex.com" />
                <data android:host="map.baidu.cn" />
                <data android:host="map.baidu.com" />
                <data android:host="wb.amap.com" />
                <data android:host="www.amap.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="goo.gl" />
                <data android:host="www.google.com" />
                <data android:pathPrefix="/maps" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data
                    android:host="download.osmand.net"
                    android:pathPrefix="/go" />
            </intent-filter>
        </activity>
        <activity android:name=".OpenStreetMapActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- force these to canonical: https://www.openstreetmap.org -->
                <data android:scheme="http" />
                <data android:host="osm.org" />
                <data android:host="openstreetmap.org" />
                <data android:host="openstreetmaps.org" />
                <data android:host="www.openstreetmap.org" />
                <data android:host="www.openstreetmaps.org" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- these hostnames are not in the current HTTPS certificate, so redirect -->
                <data android:scheme="https" />
                <data android:host="osm.org" />
                <data android:host="openstreetmaps.org" />
                <data android:host="www.openstreetmaps.org" />
            </intent-filter>
        </activity>
    </application>

</manifest>